[Unit]
Description=Report failure of %i to GitHub

[Service]
Type=oneshot
WorkingDirectory=/home/davsean/Documents/git/bioc-site
ExecStart=/home/davsean/Documents/git/bioc-site/notify-failure.sh %i.service
