[Unit]
Description=Report failure of %i to GitHub

[Service]
Type=oneshot
WorkingDirectory=/home/davsean/Documents/git/bioc-cloudflare
ExecStart=/home/davsean/Documents/git/bioc-cloudflare/notify-failure.sh %i.service
